<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".DebugKeyboardActivity"
            android:exported="true"
            android:permission="android.permission.DUMP"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ImeTestLabActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <activity
            android:name=".SecurityTestActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <activity
            android:name=".LifecycleTestActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <receiver
            android:name=".E2ETestReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="llc.slacker.openime.TEST_COMMAND" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
